@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    border-radius: 5px;
    display: flex;
}

.right {
    background-color: hsl(31, 77%, 52%);
    padding: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.center {
    background-color: hsl(184, 100%, 22%);
    padding: 3rem;
}

.left {
    background-color: hsl(179, 100%, 13%);
    padding: 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
    margin-bottom: 1.5rem;
}

img {
    margin-bottom: 1.5rem;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    width: 220px;
    margin-bottom: 6rem;
}

button {
    border: 0;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.btn-right {
    color: hsl(31, 77%, 52%);
}

.btn-right:hover {
    background-color: hsl(31, 77%, 52%);
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.btn-center {
    color: hsl(184, 100%, 22%);

}

.btn-center:hover {
    color: #fff;
    background-color: hsl(184, 100%, 22%);
    border: 2px solid #fff;
    cursor: pointer;
}

.btn-left {
    color: hsl(179, 100%, 13%);
}

.btn-left:hover {
    color: #fff;
    background-color: hsl(179, 100%, 13%);
    border: 2px solid #fff;
    cursor: pointer;
}

